@import "src/var";
@import "./styleComponents/pathHome";
@import "./styleComponents/openMenu";
@import "./styleComponents/nav";
@import "./styleComponents/icons";

.header{
  transition: .4s;
  padding-top: 24px;
  text-transform: uppercase;
  color: $fontColor;
  background-color: white;
  :global{
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      @include lg{
        flex-wrap: nowrap;
      }
    }
  }
}
.btnBurger{
  height: 35px;
  width: 50px;
  position: relative;
  z-index: 2;
  span{
    transition: .4s;
    display: block;
    height: 4px;
    background-color: $accentColor;
    width: 34px;
    margin-bottom: 6px;
    &:nth-child(2){
      width: 26px;
    }
    &:last-child{
      margin-bottom: 0;
      width: 18px;
    }
  }
  &.open{
    span {
      width: 34px !important;
      margin-bottom: 0;
      background-color: $accentColor;
      &:first-child {
        transform: rotate(-45deg);
      }

      &:nth-child(2), &:last-child {
        margin-top: -4px;
        transform: rotate(45deg);
      }
      &:last-child {
        opacity: 0;
      }
    }
  }
}
.logo{
  order: 2;
  width: calc(100% - 230px);
  text-align: center;
  padding: 0 20px;
  @include lg{
    width: auto;
    order: 0;
  }
}

.wrapDropDown{
  order: 1;
  width: 60px;
  @include lg{
    width: auto;
    order: 0;
  }
  select, option{
    font-size: 18px;
    font-weight: 300;
    background-color: transparent;
    border: 0 !important;
  }
}
.dropDown{

}
.language{

}
.currency{
  position: absolute;
  right: 20px;
  top: 85px;
  display: none;
  @include lg{
    position: static;
    display: inline-block;
  }
}
