.icons{
  display: flex;
  order: 3;
  @include lg{
    order: 0;
  }
  li{
    margin: 0 10px;
    @include lg{
      margin: 0 15px;
    }
    &:first-child{
      margin-left: 0;
      position: absolute;
      top: 80px;
      left: calc(100% - 120px);
      display: none;
      @include lg{
        display: inline-block;
        position: static;
      }
    }
    &:last-child{
      margin-right: 0;
    }
  }
  path{
    width: 20px;
    fill: $accentColor;
    @include lg{
      width: 25px;
    }
  }
}